body {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

h1 {
    width: 600px;
    font-size: x-large;
    font-weight: 400px;
}

.flexible {
    display: flex;
    padding: 5%;

}

.half {
    width: 50%;

}

.half img {
    width: 100%;
}

.blue {
    color: hsl(263, 88%, 46%);
}

.pic {
    color: gray;
}

.anis {
    margin-top: 40px;
    margin-left: 100px;
}

.link-button {
    background-color: rgb(58, 58, 185);
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 100px;
    background-image: linear-gradient(blue, rgb(44, 110, 165));
}

.mori {
    margin-bottom: 60px;
}

.banner {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: none;
    background-position: left;
}

.nas {
    text-align: center;
}

.food {

    box-shadow: 5px 5px 10px gray;
    padding: 5%;
    border-radius: 17px;
}

.subscribers {
    box-shadow: 10px 10px 40% gray;
    padding: 2%;
    border-radius: 15px;

}

.orange {
    color: orange;
    text-align: center;

}

.footer {
    background-color: black;
    padding: 20px;
}

.fresh {
    color: gray;
    text-align: center;
}

.eat-healthy {
    text-align: center;
}

.live {
    text-align: center;
    color: white;
}